#header{ height:150px; background-color:#dae8eb; width:100%;}
#header .header_con{ width:1000px; margin:0px auto; padding-top:5px; height:80px;}
#header .header_con .head_lf{ width:300px; float:left;}
#header .header_con .head_lf img{ vertical-align:middle;}
#header .header_con .head_rh{ width:640px; float:right;}
#header .header_con .head_rh .rh_lf{ line-height:30px; width:280px; height:30px; float:left; text-align:right;}
#header .header_con .head_rh .rh_lf a{ background:url(../images/tb_t.gif) 0px 0px no-repeat; padding-left:18px; margin:0px 5px 0px 5px;}
#header .header_con .head_rh .rh_rh{ width:350px; line-height:30px; height:30px; float:right; text-align:right;}
#header .header_con .head_rh .rh_rh span{ color:#c00; padding:0px 5px 0px 2px;}
#header .header_con .head_rh .rh_rh a{ background:url(../images/tb_t.gif) 0px -24px no-repeat; padding:5px 0px 5px 19px; margin-left:10px;}
#header .header_con .head_rh .hd_search{ height:35px; text-align:right; padding-top:6px;}
#header .header_con .head_rh .hd_search input.hd_txt{ background:url(../images/search_t.gif) 0px 0px no-repeat #fff; height:31px; padding-left:30px; border:none; width:450px;}
#header .header_con .head_rh .hd_search input.hd_btn{ background-color:#59a7bc; font-size:14px; color:#fff; width:60px; height:31px; border:none; margin-left:-3px; cursor:pointer;}
#header .header_con .head_rh .hd_search select{ background-color:#fff; border:1px solid #ccc; height:31px; width:80px; vertical-align:middle; margin-left:8px;}
#header .menu{ width:100%;background-color:#59a7bc; height:36px; border-bottom:3px solid #05659d;}
#header .menu ul{ height:36px; width:1000px; margin:0px auto;}
#header .menu ul li{ width:100px; color:#fff; font-size:16px; text-align:center; float:left; line-height:36px;}
#header .menu ul li a{ font-size:15px; color:#fff;}
#header .menu ul li.menu_selected{ background-color:#1672a3;}
#header .menu ul li a:hover{ text-decoration:underline;}
#hy_con{ width:1000px; margin:0px auto;}
#hy_con #con_lf{ width:156px; float:left; height:375px; margin-top:-13px; padding:5px 15px 0px 15px;}
#hy_con #con_lf h2{ font-size:14px; color:#084c74; line-height:30px; border-bottom:1px solid #90c31f; font-weight:normal; padding-left:5px; height:30px;}
#hy_con #con_lf ul{ padding-top:10px;}
#hy_con #con_lf ul li{ line-height:30px; font-size:13px;}
#hy_con #con_lf ul li a{ display:block; color:#2477a1;  padding-left:30px; font-size:16px;}
#hy_con #con_lf ul li a:hover{ color:#f60; text-decoration:underline;}
/*#hy_con #con_lf ul li.lf_li2 a{ background:url(/imgs/img_1.png) 5px -27px no-repeat;}*/
/*#hy_con #con_lf ul li.lf_li3 a{ background:url(/imgs/img_1.png) 5px -61px no-repeat;}*/
/*#hy_con #con_lf ul li.lf_li4 a{ background:url(/imgs/img_1.png) 5px -96px no-repeat;}*/
/*#hy_con #con_lf ul li.lf_li5 a{ background:url(/imgs/img_1.png) 5px -131px no-repeat;}*/
/*#hy_con #con_lf ul li.lf_li6 a{ background:url(/imgs/img_1.png) 5px -166px no-repeat;}*/
/*#hy_con #con_lf ul li.lf_li7 a{ background:url(/imgs/img_1.png) 5px -200px no-repeat;}*/
/*#hy_con #con_lf ul li.lf_li8 a{ background:url(/imgs/img_1.png) 5px -237px no-repeat;}*/
#hy_con #con_rh{ width:810px; float:right; margin-top:-15px; }
#hy_con #con_rh .con_rh_con{ padding:0px 20px 0px 20px; min-height:350px;}
#hy_con #con_rh .con_rh_con p.rh_title{ line-height:30px; height:35px; border-bottom:1px dashed #ddd; font-size:14px; padding-left:5px;}
#hy_con #con_rh .con_rh_con .zh_num{ line-height:40px; font-size:14px; padding:10px 0px 0px 10px; height:40px;}
#hy_con #con_rh .con_rh_con .zh_num span{ font-size:16px; color:#f60; padding:0px 5px 0px 0px;}
#hy_con #con_rh .con_rh_con .zh_num a{ margin-left:30px; display:inline-block; width:55px; height:27px; vertical-align:middle;}

#hy_con #con_rh .con_rh_con ul.ul_zhxx{ padding:10px 0px 10px 0px;}
#hy_con #con_rh .con_rh_con ul.ul_zhxx li{ line-height:35px; width:375px; float:left; padding-left:10px;}
#hy_con #con_rh .con_rh_con ul.ul_zhxx li.li_bj{ background-color:#f7f7f7;}
/*淇敼瀵嗙爜*/
#hy_con #con_rh .con_rh_con table.rh_tab1{ width:770px; margin:0px auto; padding:10px 0px 10px 0px;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td{ height:50px; line-height:50px;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td1{ width:120px; text-align:right; vertical-align:top;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td1 span{ color:#c00; font-weight:bold; font-size:14px;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td2 input,#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td3 input{ background-color:#fff; height:22px; line-height:22px; border:1px solid #ddd; width:350px;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td3{ line-height:25px; height:75px;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td4 input{ background-color:#fff; border:1px solid #ddd; height:22px; line-height:22px; border:1px solid #ddd;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td4 img{ vertical-align:middle; margin:0px 10px 0px 5px;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td4 a{ text-decoration:underline;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td4 a:hover{ color:#f00; text-decoration:none;}
#hy_con #con_rh .con_rh_con table.rh_tab1 tr td.td5 input{ background:url(../images/btn.gif) 0px 0px no-repeat; height:29px; width:66px; cursor:pointer; color:#fff; border:none; font-size:13px;}
/*瀵嗙爜淇濇姢*/
#hy_con #con_rh .con_rh_con .pwd_list{ background:url(../images/tb_pwd.gif) 10px 22px no-repeat;padding:20px 0px 10px 110px;}
#hy_con #con_rh .con_rh_con .pwd_list p{ line-height:30px; height:35px; font-size:14px;}
#hy_con #con_rh .con_rh_con .pwd_list p a{ color:#1d61ad; font-size:13px; margin-left:5px;}
#hy_con #con_rh .con_rh_con .pwd_list p a:hover{ color:#f60; text-decoration:underline;}
#hy_con #con_rh .con_rh_con .pwd_list ul li{ line-height:22px;}
#hy_con #con_rh .con_rh_con .pwd_list.pwd1{ background:url(../images/tb_pwd.gif) 10px -292px no-repeat;}
#hy_con #con_rh .con_rh_con .pwd_list.pwd2{ background:url(../images/tb_pwd.gif) 10px -410px no-repeat;}
#hy_con #con_rh .con_rh_con .height{ height:20px; clear:both;}
/*绉垎璁板綍*/
#hy_con #con_rh .con_rh_con table.rh_tab2{ width:770px; margin-top:10px; border-top:1px solid #ddd; border-left:1px solid #ddd;}
#hy_con #con_rh .con_rh_con table.rh_tab2 tr th{ font-size:13px; font-weight:normal; background-color:#f5f5f5; height:35px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
#hy_con #con_rh .con_rh_con table.rh_tab2 tr td{ height:35px; text-align:center; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
#hy_con #con_rh .con_rh_con .flei{ line-height:40px; padding:5px 10px 0px 0px; text-align:right;}
#hy_con #con_rh .con_rh_con .flei span{ font-size:14px; color:#f60; font-weight:bold; padding:0px 5px 0px 5px;}
#hy_con #con_rh .con_rh_con .flei a{ margin:0px 8px 0px 8px;}
#hy_con #con_rh .con_rh_con .flei a:hover{ text-decoration:underline;}
/*绉垎鏌ヨ*/
#hy_con #con_rh .con_rh_con .jf_num{ line-height:40px; font-size:14px; padding:10px 0px 8px 10px;}
#hy_con #con_rh .con_rh_con .jf_num span{ font-size:16px; color:#f60; padding:0px 5px 0px 0px;}
#hy_con #con_rh .con_rh_con .jf_h3{ line-height:22px; padding-left:10px; height:22px;}
#hy_con #con_rh .con_rh_con .jf_h3 span{ display:block; width:200px; float:left;}
#hy_con #con_rh .con_rh_con .jf_h3 a{ display:block; width:50px; float:right;font-weight:normal; text-align:right; padding-right:10px;}
/*璁㈠崟淇℃伅*/
#hy_con #con_rh .con_rh_con table.rh_tab2.dd_tab{ margin-top:0px; border-top:none;}
#hy_con #con_rh .con_rh_con table.rh_tab2.dd_tab tr td.td_lf{ text-align:left; padding:0px 8px 0px 8px;}
#hy_con #con_rh .con_rh_con table.rh_tab2.dd_tab tr td a{ color:#1d61ad; text-decoration:underline;}
#hy_con #con_rh .con_rh_con table.rh_tab2.dd_tab tr td a:hover{ color:#c00; text-decoration:none;}
#hy_con #con_rh .con_rh_con .dd_menu{ background:url(../images/line_rh.gif) 0px 0px repeat-x; border-bottom:3px solid #5884c1; height:33px; line-height:34px; margin-top:10px; border-left:1px solid #ddd; border-right:1px solid #ddd; padding-left:15px;}
#hy_con #con_rh .con_rh_con .dd_menu ul li{ width:90px; float:left; background:url(../images/line1_rh.gif) right 5px no-repeat; text-align:center;}
#hy_con #con_rh .con_rh_con .dd_menu ul li a{ font-size:13px;}
#hy_con #con_rh .con_rh_con .dd_menu ul li.dd_seli{ background-image:none; background-color:#fff; border:1px solid #ddd; border-bottom:none; height:27px; margin-top:5px; line-height:27px;}
#hy_con #con_rh .con_rh_con .dd_menu ul li.dd_seli a{ font-weight:bold;}
#hy_con #con_rh .con_rh_con .dd_menu ul li.no_background{background-image:none; }
#footer{ height:106px; width:100%; border-top:5px solid #59a7bc; padding-top:20px; clear:both; margin-top:10px;}
#footer .foot_con{ width:1000px; margin:0px auto; line-height:22px; text-align:center;}
/*璐︽埛鍏呭€�*/
#hy_con1{ width:1000px; margin:0px auto; margin-top:-15px;}
#hy_con1 .cz_con{ background:url(../images/all_bjc.gif) 0px 0px repeat-y; min-height:300px; padding:0px 25px 0px 25px;}
#hy_con1 .cz_con p.rh_title{ line-height:30px; height:35px; border-bottom:1px dashed #ddd; font-size:14px; padding-left:5px;}
#hy_con1 .cz_con .rh_zh{ line-height:40px; font-size:13px; padding:5px 0px 0px 5px; height:50px;}
#hy_con1 .cz_con .rh_zh strong{ padding-right:30px; font-size:14px;}
#hy_con1 .cz_con .rh_zh span{ color:#f60; font-size:14px; padding-right:5px; font-weight:bold;}
#hy_con1 .cz_con .rh_zhtab{ height:30px; line-height:30px; border-bottom:2px solid #2477a1;}
#hy_con1 .cz_con .rh_zhtab h5{ font-size:14px; width:130px; float:left; padding-left:5px;}
#hy_con1 .cz_con .rh_zhtab ul{ height:29px; line-height:29px; width:600px; float:left;}
#hy_con1 .cz_con .rh_zhtab ul li{ width:80px; float:left; background-color:#fff; border:1px solid #2477a1; border-bottom:none; color:#2477a1; font-size:14px; text-align:center; margin-left:10px; cursor:pointer;}
#hy_con1 .cz_con .rh_zhtab ul li.zh_li{ background-color:#2477a1; color:#fff;}
#hy_con1 .cz_con .zhtab_con{ background-color:#f7f7f7;}
#hy_con1 .cz_con .zhtab_con .zh_con1{ padding:10px 20px 10px 20px;}
#hy_con1 .cz_con .zhtab_con .zh_con1 p{ line-height:45px; font-size:14px; height:60px;}
#hy_con1 .cz_con .zhtab_con .zh_con1 div.zf{ padding:0px 30px 10px 30px; line-height:40px;}
#hy_con1 .cz_con .zhtab_con .zh_con1 div.zf input{ vertical-align:middle; margin-right:5px;}
#hy_con1 .cz_con .zhtab_con .zh_con1 div.zf img{ vertical-align:middle;}
#hy_con1 .cz_con .zhtab_con .zh_con1 div.zf input.cz_txt{ width:200px; height:24px; line-height:24px; background-color:#fff; border:1px solid #ddd;}
#hy_con1 .cz_con .zhtab_con .zh_con1 div.zf1{ height:35px;}
#hy_con1 .cz_con .zhtab_con .zh_con1 div.zf1 input{ background:url(../images/btn.gif) 0px 0px no-repeat; width:66px; height:29px; font-size:13px; border:none; cursor:pointer; margin-left:90px; color:#fff;}
#hy_con1 .cz_con .zf_qu{ padding:10px;}
#hy_con1 .cz_con .zf_qu p.bt_qu{ font-size:14px; font-weight:bold; line-height:40px; height:40px;}
#hy_con1 .cz_con .zf_qu div{ line-height:180%; padding:5px 0px 5px 0px;}
#hy_con1 .cz_con .zf_qu div p{ text-indent:2em; padding-top:5px;}
#hy_con1 .cz_con .cz_success{ background:url(../images/tb2.gif) 150px 50px no-repeat; padding:50px 0px 20px 235px;}
#hy_con1 .cz_con .cz_success h1{ font-size:30px; font-family:"寰蒋闆呴粦"; line-height:50px; font-weight:normal;}
#hy_con1 .cz_con .cz_success p{ line-height:25px;}
#hy_con1 .cz_con .cz_a{ padding-left:120px;line-height:40px; height:40px;}
#hy_con1 .cz_con .cz_a a{ background:url(../images/tb3.gif) 0px 1px no-repeat; padding-left:15px; margin-right:20px; font-size:14px; line-height:30px; color:#2477a1;}
#hy_con1 .cz_con .cz_a a:hover{ color:#c00; text-decoration:underline;}
#hy_con1 .cz_con .cz_success.cz_sb{ background:url(../images/tb1.gif) 145px 52px no-repeat;}