<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.system.mapper.FacecheckMapper">

    <resultMap type="Facecheck" id="FacecheckResult">
        <result property="id"    column="id"    />
        <result property="tel"    column="tel"    />
        <result property="photo"    column="photo"    />
        <result property="status"    column="status"    />
        <result property="time"    column="time"    />
    </resultMap>
    <resultMap type="Facecheck" id="FacecheckResultCom">
        <result property="id"    column="id"    />
        <result property="tel"    column="tel"    />
        <result property="photo"    column="photo"    />
        <result property="status"    column="status"    />
        <result property="time"    column="time"    />
        <result property="comId" column="com_id"/>
        <association property="company" javaType="company">

            <id property="comId"    column="com_id"    />
            <result property="comName" column="com_name"  />
        </association>
    </resultMap>
    <sql id="selectFacecheckVo">
        select id, tel, photo, status, time from facecheck
    </sql>
    <!--2022.7.14 增加 企业id查询-->
    <sql id="selectFacecheckVoWithCom">
        select id, tel, photo, status, time,c.com_id ,com_name from facecheck f LEFT JOIN company c
        ON f.`com_id`=c.`com_id`
    </sql>
    <select id="selectFacecheckList" parameterType="Facecheck" resultMap="FacecheckResultCom">
        <include refid="selectFacecheckVoWithCom"/>
        <where>
            <if test="tel != null  and tel != ''"> and tel like concat('%',#{tel},'%') </if>
            <if test="status != null "> and status = #{status}</if>
            <if test="comId != null and comId !=0"> and f.com_id = #{comId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectFacecheckById" parameterType="Long" resultMap="FacecheckResult">
        <include refid="selectFacecheckVo"/>
        where id = #{id}
    </select>

    <insert id="insertFacecheck" parameterType="Facecheck" useGeneratedKeys="true" keyProperty="id">
        insert into facecheck
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tel != null">tel,</if>
            <if test="photo != null">photo,</if>
            <if test="status != null">status,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tel != null">#{tel},</if>
            <if test="photo != null">#{photo},</if>
            <if test="status != null">#{status},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateFacecheck" parameterType="Facecheck">
        update facecheck
        <trim prefix="SET" suffixOverrides=",">
            <if test="tel != null">tel = #{tel},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="time != null">time = #{time},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFacecheckById" parameterType="Long">
        delete from facecheck where id = #{id}
    </delete>

    <delete id="deleteFacecheckByIds" parameterType="String">
        delete from facecheck where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>